<div class="section1">
  <p class="t1">Lorem ipsum</p>
  <p class="t2 orange2-text mb-0">Ut laoreet posuere sem </p>
  <p class="t3">at viverra justo viverra sed</p>

  <div class="row pt-md-4">
    <div class="d-md-flex justify-content-between">
      <div class="d-flex margin-box justify-content-center blank-rect-2 col-sm-12 col-md-4 col-lg-4">
        <div class="px-3">
          <img src="assets/images/goccia-1.png" class="product-image">
          <span class="t4 brown-text">Pellentesque</span>
          <br>
          <span class="text1 gray2-text">fermentum augue eget erat egestas pretium</span>
        </div>
      </div>
      <div class="d-flex margin-box justify-content-center blank-rect-2 col-sm-12 col-md-4 col-lg-4">
        <div class="px-3">
          <img src="assets/images/goccia-2.png" class="product-image">
          <span class="t4 orange2-text">Pellentesque</span>
          <br>
          <span class="text1 gray2-text">Aenean posuere neque ante</span>
        </div>
      </div>
      <div class="d-flex margin-box justify-content-center blank-rect-2 col-sm-12 col-md-4 col-lg-4">
        <div class="px-3">
          <img src="assets/images/goccia-3.png" class="product-image">
          <span class="t4 orange-text">Pellentesque</span>
          <br>
          <span class="text1 gray2-text">Nam malesuada ac massa id accumsan</span>
        </div>
      </div>
    </div>
  </div>

</div>