.header-sec{
  height: 73.69px;
  background-color: var(--white);
  padding-left: 8%;
  padding-right: 8%;
}

.line-hamburger-menu{
  border-top: 1px;
  border-style: solid;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-color: var(--brown);
}

.menu-word{
  width: 100%;
  cursor: pointer;
}

.pTB-header-mobile{
  padding-top: 5.65px;
  padding-bottom: 5.65px;
}

.x-cross-icon{
  background-image: url("../../../assets/images/cross.png");
}

.fixed-menu{
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}