  <!-- sotto-footer desktop -->
  <div class="desktop">
    <div class="row under-footer-sec under-footer-font">
      <div class="d-flex">
  
        <div class="col-sm-12 col-md-6 col-lg-6 my-auto">
          <span class="w-100">© copyright 2022 Lorem SpA</span>
        </div>
  
        <div class="col-sm-12 col-md-2 col-lg-2 my-auto text-left">
          <span class="w-100">Privacy</span>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2 my-auto text-left">
          <span class="w-100">Cookie</span>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2 my-auto text-left">
          <span class="w-100">Termini e condizioni</span>
        </div>
  
      </div>
    </div>
  </div>
  <!-- fine sotto-footer -->

  <!-- sotto footer mobile -->
  <div class="mobile">
    <div class="row under-footer-sec under-footer-font">
      <div class="d-flex m-auto">
        <div class="col-sm-6 col-md-6 col-lg-6 w-100">
          <span class="w-100">© copyright 2022 Lorem SpA</span>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6 w-100">
          <p class="w-100 mb-3">Privacy</p>
          <p class="w-100 mb-3">Cookie</p>
          <p class="w-100 mb-3">Termini e condizioni</p>
        </div>
      </div>
    </div>
  </div>
  <!-- fine sotto footer mobile -->