<div class="section3">
  <div class="row align-content-center">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <p class="t1 mb-4 text-center-mobile">Maecenas eleifend,</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <p class="t2 orange2-text text-center-mobile">Quisque porttitor nunc elit.</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="pr-section3">
          <p class="text1 black-text">Maecenas eleifend, magna vitae volutpat ultricies, est nibh volutpat sapien, ac malesuada urna arcu euismod leo. Maecenas convallis nisl erat, ac dignissim velit ornare sit amet. Suspendisse mattis, urna et finibus consectetur, nisl arcu sodales sem, quis tristique ex lacus ac risus. Donec odio ipsum, mollis feugiat vestibulum eget, posuere sit amet erat. Quisque porttitor nunc elit. Mauris nec nisl faucibus, semper erat eget, feugiat velit. <br><br> Ut nec ullamcorper odio. Sed in ultrices mauris. Pellentesque sit amet urna eget erat lobortis rutrum. Fusce ut est est. In condimentum vestibulum diam at lobortis. </p>
        </div>
      </div>
  </div>
</div>