<div class="background-top">
  <!-- header -->
  <app-header></app-header>

  <!-- rettangolo bianco desktop -->
  <div class="desktop blank-rect">
    <p class="t1">Lorem ipsum</p>
    <p class="t2">Suspendisse blandit sollicitudin enim, a sagittis consectetur.</p>
    <p class="t3">Class aptent taciti sociosqu ad litora torquen.</p>
  </div>
  <!-- fine rettangolo bianco -->

  <!-- rettangolo bianco mobile -->
  <div class="mobile blank-rect-mobile">
    <p class="t1">Lorem ipsum</p>
    <p class="t2 my-5">Suspendisse blandit sollicitudin enim, a sagittis consectetur.</p>
    <p class="t3">Class aptent taciti sociosqu ad litora torquen.</p>
  </div>
  <!-- fine rettangolo bianco mobile -->
</div>



<div>

  <!-- sezione 1 -->
  <app-section-one></app-section-one>

  <!-- sezione 2 -->
  <app-section-two></app-section-two>

  <!-- sezione 3 -->
  <app-section-three></app-section-three>


  <!-- footer -->
  <app-footer></app-footer>

  <!-- under footer -->
  <app-under-footer></app-under-footer>

</div>
  

